@import url(materialdesignicons.min.css);

.videoTopControls {
  margin-bottom: 20px;
}

.gifStuff {
  margin-top: 20px;
}

.gifTopControls {
  margin-bottom: 10px;
}

.progressBar {
  margin-bottom: 5px;
}