@import url(materialdesignicons.min.css);

:global(body) {
  overflow-x: hidden;
}

.pageContent {
  margin-top: 25px;
  padding-bottom: 30px;
  text-align: center;
}

.videoTopControls {
  margin-bottom: 20px;
}

.gifStuff {
  margin-top: 20px;
}

.gifTopControls {
  margin-bottom: 10px;
}

.progressBar {
  margin-bottom: 5px;
}